* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container{
    max-width: 1400px;
    padding: 0 20px;
    height: 80px;
}

.header .container{
    background-color: #f8f9fa;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1 ); /* Add shadow here */
    position: sticky; /* Optional: Makes header sticky */
    top: 0; /* Needed for sticky header */
    z-index: 1000; /* Keeps it on top of other elements */
    height: 60px;
}

.logo{
    align-content: center;
    cursor: pointer;
  }

.logo img{
  width: 150px;
  height: 70px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap :45px;
}

.navbar a{
    text-decoration: none;
    font-weight: 400;
    color: black;
}
.navbar a:hover{
  font-weight: 600;
  color: black;
}

.btn {
  display: inline-block;
  padding: 7px 7px;
  width: 70px;
  background-color: black;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 3px;
}
  
.btn:hover {
  background-color: grey;
}

.inputbox {
  width: 70%;
  padding: 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}
  
.inputbox:focus {
  border-color: #007bff;
  outline: none;
}

  /* Slider Container */
.slider {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin: auto;
  border: 2px solid #ddd; /* Optional: Border styling */
}

/* Slides Wrapper */
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%; /* Adjust according to the number of slides */
}

/* Individual Slide */
.slide {
  flex: 1;
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Navigation Buttons */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  font-size: 18px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover, .next:hover {
  background-color: #000;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title_head{
  text-align: center;
  padding: 20px 0;
}

.filter h3{
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter {
  display: flex;
  padding: 0px 100px;
  gap:50px
}

.filter img{
  cursor: pointer;
  transition: transform 0.3s ease;
}

.filter img:hover {
  transform: scale(0.9); 
}

.products{
  padding: 0 150px;
}
.product_header{
  display: flex;
  justify-content:space-between;
  padding-top: 30px;
  padding-bottom: 25px;
  font-size: 18px;
}

.product_header a{
  text-decoration: none;
  color: black
}

.product_header a:hover{
  font-weight: bold
}

.button_fill{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color:white;
  color: black;
  border: 1px solid black;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 10;
  border-radius: 5%;
  font-size: 18px;
}

.button_hollow{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color:black;
  color:white;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 10;
  border-radius: 5%;
  font-size: 18px;
}

.product_pictures{
  display: flex;
  justify-content: space-between;
  height: 450px;
}
.product_pictures img{
  height: 240px;
  width: 230px;  
  border-radius: 5px;
}

.product1 h4,.product2 h4,.product3 h4,.product4 h4{
  width: 230px;
  font-weight: 100;
  padding: 5px 10px;
  font-size: 15px;
}

.product1,.product2 ,.product3 ,.product4{
  border : 1px solid gray;
  border-radius : 5px;
  cursor: pointer;
}

.product1 p,.product2 p,.product3 p,.product4 p{
  font-size: 12px;
  padding: 5px 10px;
  color: grey;
}

.product1 h5,.product2 h5,.product3 h5,.product4 h5{
  font-weight: 700;
  font-size: medium;
  padding: 5px 10px;
}



.qunatity{
  margin-top: 10px;
}

.price{
  display: flex;
  align-items: center;
  gap: 2px;
}

.price del{
  color: grey;
}

.price span{
  color: red;
  font-weight: 700;
}

.button_cart{
  display: inline-block;
  padding: 9px 9px;
  width: 200px;
  background-color: black;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 12px;
  margin-top: 10px;
}
.sales{
  padding: 10px 150px;
}
.Sale_header{
  display: flex;
  justify-content:space-between;
  padding-top: 30px;
  padding-bottom: 25px;
  font-size: 18px;
}

.Sale_header a{
  text-decoration: none;
  color: black
}

.Sale_header a:hover{
  font-weight: bold
}
.sales_picture{
  display: flex;
  justify-content: space-between;
  height: 450px;
}

.sales_picture img{
  height: 240px;
  width: 230px;  
  border-radius: 5px;
}

.Sale1 h4,.Sale2 h4,.Sale3 h4,.Sale4 h4{
  width: 230px;
  font-weight: 200;
  padding: 5px 10px;
  font-size: 15px;
}

.Sale1,.Sale2 ,.Sale3 ,.Sale4{
  border : 1px solid gray;
  border-radius : 5px;
  cursor: pointer;
}

.Sale1 p,.Sale2 p,.Sale3 p,.Sale4 p{
  font-size: 12px;
  padding: 5px 10px;
  color: grey;
}

.Sale1 h5,.Sale2 h5,.Sale3 h5,.Sale4 h5{
  font-weight: 700;
  font-size: medium;
  padding: 5px 10px;
}


.Sunscreen{
  padding: 10px 150px;
}
.Sunscreen_header{
  display: flex;
  justify-content:space-between;
  padding-top: 30px;
  padding-bottom: 25px;
  font-size: 18px;
}

.Sunscreen_header a{
  text-decoration: none;
  color: black
}

.Sunscreen_header a:hover{
  font-weight: bold
}
.Sunscreen_pictures{
  display: flex;
  justify-content: space-between;
  height: 450px;
}

.Sunscreen img{
  height: 240px;
  width: 230px;  
  border-radius: 5px;
}

.Sunscreen1 h4,.Sunscreen2 h4,.Sunscreen3 h4,.Sunscreen4 h4{
  width: 230px;
  font-weight: 200;
  padding: 5px 10px;
  font-size: 15px;
}

.Sunscreen1 ,.Sunscreen2 ,.Sunscreen3 ,.Sunscreen4 {
  border : 1px solid gray;
  border-radius : 5px;
  cursor: pointer;
}

.Sunscreen1 p,.Sunscreen2 p,.Sunscreen3 p,.Sunscreen4 p{
  font-size: 12px;
  padding: 5px 10px;
  color: grey;
}

.Sunscreen1 h5,.Sunscreen2 h5,.Sunscreen3 h5,.Sunscreen4 h5{
  font-weight: 700;
  font-size: medium;
  padding: 5px 10px;
}

.FaceSerum{
  padding: 10px 150px;
}
.FaceSerum_header{
  display: flex;
  justify-content:space-between;
  padding-top: 30px;
  padding-bottom: 25px;
  font-size: 18px;
}

.FaceSerum_header a{
  text-decoration: none;
  color: black
}

.FaceSerum_header a:hover{
  font-weight: bold
}
.FaceSerum_pictures{
  display: flex;
  justify-content: space-between;
  height: 450px;
}

.FaceSerum img{
  height: 240px;
  width: 230px;  
  border-radius: 5px;
}


.Serum1 h4,.Serum2 h4,.Serum3 h4,.Serum4 h4{
  width: 230px;
  font-weight: 200;
  padding: 5px 10px;
  font-size: 15px;
}

.Serum1 ,.Serum2 ,.Serum3 ,.Serum4 {
  border : 1px solid gray;
  border-radius : 5px;
  cursor: pointer;
}

.Serum1 p,.Serum2 p,.Serum3 p,.Serum4 p{
  font-size: 12px;
  padding: 5px 10px;
  color: grey;
}

.Serum1 h5,.Serum2 h5,.Serum3 h5,.Serum4 h5{
  font-weight: 700;
  font-size: medium;
  padding: 5px 10px;
}


.Moisturizer{
  padding: 10px 150px;
}
.Moisturizer_header{
  display: flex;
  justify-content:space-between;
  padding-top: 30px;
  padding-bottom: 25px;
  font-size: 18px;
}

.Moisturizer_header a{
  text-decoration: none;
  color: black
}

.Moisturizer_header a:hover{
  font-weight: bold
}
.Moist_pictures{
  display: flex;
  justify-content: space-between;
  height: 450px;
}

.Moisturizer img{
  height: 240px;
  width: 230px;  
  border-radius: 5px;
}


.moist1 h4,.moist2 h4,.moist3 h4,.moist4 h4{
  width: 230px;
  font-weight: 200;
  padding: 5px 10px;
  font-size: 15px;
}

.moist1 ,.moist2 ,.moist3 ,.moist4 {
  border : 1px solid gray;
  border-radius : 5px;
  cursor: pointer;
}

.moist1 p,.moist2 p,.moist3 p,.moist4 p{
  font-size: 12px;
  padding: 5px 10px;
  color: grey;
}

.moist1 h5,.moist2 h5,.moist3 h5,.moist4 h5{
  font-weight: 700;
  font-size: medium;
  padding: 5px 10px;
}